.game {
    -fx-font: normal bold 14 Langdon;
}

.node {
}

.graph-background {
    -fx-background: none;
}

.node_border {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.node_border:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(53,59,72,0.8), 10, 0, 0, 0);
}

.color-selector-element {
    -fx-border-width: 5;
    -fx-border-color: white;
    -fx-opacity: 0.5;
}

.color-selector-element:hover {
    -fx-opacity: 1;
}

.disabled {
    -fx-opacity: 0.5;
}

.game-bar {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #353535;
    -fx-text-fill: #b7b7b7;
    -fx-padding: 5px;

    -fx-border-color: #D24D57;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-border-color: #8c3c3a;
    -fx-font-weight: bold;
}

.tooltip {
    -fx-font: normal bold 28 Langdon;
    -fx-base: #AE3522;
    -fx-text-fill: orange;
}